[Unit]
Description=geo-cli Application Indicator
After=graphical-session.target
Requires=graphical-session.target

[Service]
ExecStart=bash "$geo_indicator_path"
Restart=on-failure
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=graphical-session.target