[Unit]
Description=geo-cli Application Indicator

[Service]
ExecStart=bash "$geo_indicator_path"
Restart=on-failure

[Install]
WantedBy=default.target