# Install handled by install-utils::install-desktop and geo_indicator enable
## .desktop files MUST be executable to function correctly
[Desktop Entry]
Type=Application
Version=1.0
Name=geo-indicator
Path=$geo_indicator_app_dir
TryExec=geo-ui
# TryExec=geo-ui
#Exec=geo-ui
#Exec=geo-indicator.sh
Exec=geo_indicator.py

Icon=/usr/share/pixmaps/geo
# Icon=geo.png
# Icon=$geo_indicator_app_dir/res/geo-cli-logo.png
Categories=Development
# MimeType=text/plain
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
# Terminal=true
# DBusActivatable=true

# [Desktop Action New]
# Name=New Terminal
# Exec=geo-ui
# Exec=geo indicator start
# exec geo indicator start
# Exec=alacritty
