# Install handled by install-utils::install-desktop and geo_indicator enable
[Desktop Entry]
Type=Application
Version=1.0
Name=geo-indicator
# Path=$geo_indicator_app_dir
TryExec=geo-ui
Exec=geo-ui
# Exec=bash geo-indicator.sh

Icon=/usr/share/pixmaps/geo.png
# Icon=geo.png
# Icon=$geo_indicator_app_dir/res/geo-cli-logo.png
Categories=Development
MimeType=text/plain
X-GNOME-UsesNotifications=true
# Terminal=true
# DBusActivatable=true

# [Desktop Action New]
# Name=New Terminal
# Exec=geo-ui
# Exec=geo indicator start
# exec geo indicator start
# Exec=alacritty