[Desktop Entry]
Type=Application
Version=1.0
Name=geo-indicator
Path=$geo_indicator_app_dir
Exec=bash geo-indicator.sh
Icon=$geo_indicator_app_dir/res/geo-cli-logo.png
Categories=Development
MimeType=text/plain
X-GNOME-UsesNotifications=true
Terminal=true
DBusActivatable=true